___old___
__old__
__temp__
__temp

__data
data/___checkpoints___
data/events
data/soundings-asos
data/hrrr-env
data/ccrfcd-gauges-raw-data-7-23-25
data/2021-01-01_2025-07-25.csv

notebooks/hrrr-analysis-test

**.grib2
**.idx
**.gz